.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(2vmin);
  color: white;
}

.scrollabe-subtitle-list {
  height:200px;
  overflow:hidden; overflow-y:scroll;
}